{
    margin:0;
    padding:0;
}

.cabecalho{
    background-color: #270d1a;   
    color: white;
    display:flex;
    justify-content:space around;
    padding:18px 0;
}
.cabecalho-imagem{
    width:10%;
}

.cabecalho-lista-item{
    display:inline-block;
    margin:0 20px;
    font-size:24px;
}
.escola{

}